*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}   

/* HEADER */

.logo{
  height: 100px;
  background-color: aqua;
  margin-bottom: 30px;
}

.underlogo{
  height: 400px;
  background-color: lightcoral;
}

/* main */

main{
  height: 700px;
  background-color: lightskyblue;
}

.head{
  height: 80px;
  background-color: mediumslateblue;
  margin-bottom: 20px;
}

main .links,
main .main-content,
main .widgets{
  float:left;
  height: 80%;
  background-color: mediumslateblue;
}


.links{
  width: 20%;
}

.main-content{
  width: 56%;
  margin: 0 2%;
}

.widgets{
  width: 20%;
} 

/* FOOTER */
footer{
  width: 80%;
  margin: auto;
  height: 80px;
  background-color: peru;
}